@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 264 29.41% 96.67%;
    --foreground: 262.86 23.6% 17.45%;
    --card: 264 29.41% 96.67%;
    --card-foreground: 262.86 23.6% 17.45%;
    --popover: 264 29.41% 96.67%;
    --popover-foreground: 262.86 23.6% 17.45%;
    --primary: 345.67 77.59% 54.51%;
    --primary-foreground: 264 29.41% 96.67%;
    --secondary: 262.7 21.14% 65.69%;
    --secondary-foreground: 264 29.41% 96.67%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 264 29.41% 96.67%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 262.86 23.6% 17.45%;
    --foreground: 264 29.41% 96.67%;
    --card: 262.86 23.6% 17.45%;
    --card-foreground: 264 29.41% 96.67%;
    --popover: 262.86 23.6% 17.45%;
    --popover-foreground: 264 29.41% 96.67%;
    --primary: 345.67 77.59% 54.51%;
    --primary-foreground: 264 29.41% 96.67%;
    --secondary: 262.7 21.14% 65.69%;
    --secondary-foreground: 264 29.41% 96.67%;
    /* --muted: 240 3.7% 15.9%; */
    --muted: 262 10% 25%;
    --muted-foreground: 240 5% 64.9%;
    /* --accent: 240 3.7% 15.9%; */
    --accent: 262 10% 25%;
    --accent-foreground: 264 29.41% 96.67%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 264 29.41% 96.67%;
    /* Leaving the original values for now here, we are testing options */
    /* --border: 240 3.7% 15.9%; */
    /* --input: 240 3.7% 15.9%; */
    --border: 262 10% 25%;
    --input: 262 10% 25%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground antialiased;
  }

  h1 {
    @apply font-title;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
